
page-home {
 
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        
        align-items: center; 
        
        
        .container > div {
        margin: 2%;
    }
.icon-slider {
    padding: 1rem;
    position: relative;
    display: inline-block;
    z-index: -1;
    &::before {
        position: absolute;
        content: '';
        
        height: 1px;
        background: $list-md-border-color;
        z-index: -2;
        bottom: -1rem;
        right: 3rem;
        left: 3rem;
    }

    .cover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .text-slider {
        color: #333;
        font-size: 80%;
        white-space: pre-wrap;
        
        
    }

   

    
    
}
.tomb {
    width: 100%;
    padding: 1rem;
   .choices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}
.media {
   width: 90%;
   padding: 1rem;
   background: color($colors, 'light');
   margin: 0 auto;
   display: flex;
   flex-direction: column;

   .title {
       display: flex;
       justify-content: space-between;
       padding: 2rem;
        position: relative;
       &::after {
           content: '';
           position: absolute;
            left: 1rem;
            right: 1rem;
            bottom: 0;
            height: 1px;
            background: #ddd;
           }

   }
   .ratings {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
   }

}

}
}



/* Slides and navbar */

.image-thumb {
    padding: 3rem;
    border-radius: 45px;
}

   


    
}